rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() { return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'; }
    match /users/{uid} {
      allow read: if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isAdmin();
    }
    match /applications/{uid} {
      allow create: if isSignedIn() && request.auth.uid == uid;
      allow read, update: if isAdmin() || (isSignedIn() && request.auth.uid == uid);
    }
    match /invites/{code} { allow read, write: if isAdmin(); }
  }
}
